* {
    box-sizing: border-box;
  }

  body {
    background-color: rgb(185, 194, 192);
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
  }

  #wrapper {
    margin-left:auto;
    margin-right:auto;
    widows: 1080px;
  }


  #topbanner {
    height: 200px;
    width: 1120px;
    background-image: url(../img/harley883.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    position: absolute;
    left: 0px;
    top: 0px;

  }
    

  a:visited {
      color:orange;
    }

   a:link {
      text-decoration: none;
    }

  a:active {
    color: orange;
  }  

#me {
  width: 250px;
  height: 275px;
  z-index: 2; 
  position: absolute;
  left: 800px;
  top: 225px;
}

#border-box {
  background-image: linear-gradient(to right, lightblue, lightgreen);
  display: inline-block;
}

#maintext {
  width: 500px;
  z-index: 3;
  position: absolute;
  top: 220px;
  left: 260px;
}

#imagecaption {
  z-index: 4;
  position: absolute;
  left: 810px;
  top: 500px;
}

#infographic {
  z-index: 5;
  position: absolute;
  top: 500px;
  left: 325px;
  height: 300px;
  width: 350px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0px;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  top: 200px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  opacity: 0.9;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}